<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>staff_room</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>login.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/jsp/*</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>sender</param-name>
    <param-value>20732</param-value>
  </context-param>
  <servlet>
    <servlet-name>S_Login</servlet-name>
    <servlet-class>kkweb.shain.S_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S_Login</servlet-name>
    <url-pattern>/s_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>S_Kinmuhoukoku_Nyuryoku</servlet-name>
    <servlet-class>kkweb.shain.S_Kinmuhoukoku_Nyuryoku</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S_Kinmuhoukoku_Nyuryoku</servlet-name>
    <url-pattern>/s_kinmuhoukoku_nyuryoku</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>S_Joukyou</servlet-name>
    <servlet-class>kkweb.joukyou.S_Joukyou</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S_Joukyou</servlet-name>
    <url-pattern>/s_joukyou</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>G_Eturan</servlet-name>
    <servlet-class>kkweb.eturan.G_Eturan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>G_Eturan</servlet-name>
    <url-pattern>/g_eturan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>S_Kinmu_nyuryoku_kakunin</servlet-name>
    <servlet-class>kkweb.shain.S_Kinmu_nyuryoku_kakunin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S_Kinmu_nyuryoku_kakunin</servlet-name>
    <url-pattern>/s_kinmu_nyuryoku_kakunin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>S_Kinmu_houkoku</servlet-name>
    <servlet-class>kkweb.shain.S_Kinmu_houkoku</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S_Kinmu_houkoku</servlet-name>
    <url-pattern>/s_kinmu_houkoku</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>S_Kinmu_hozon</servlet-name>
    <servlet-class>kkweb.shain.S_Kinmu_hozon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S_Kinmu_hozon</servlet-name>
    <url-pattern>/s_kinmu_hozon</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>G_Insatu</servlet-name>
    <servlet-class>kkweb.eturan.G_Insatu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>G_Insatu</servlet-name>
    <url-pattern>/g_insatu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>S_Hyoujyun_sakusei</servlet-name>
    <servlet-class>kkweb.shain.S_Hyoujyun_sakusei</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S_Hyoujyun_sakusei</servlet-name>
    <url-pattern>/s_hyoujyun_sakusei</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>S_shouninkakunin</servlet-name>
    <servlet-class>kkweb.kakunin.S_shouninkakunin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S_shouninkakunin</servlet-name>
    <url-pattern>/s_shouninkakunin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>S_CodeHyouji</servlet-name>
    <servlet-class>kkweb.shain.S_CodeHyouji</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S_CodeHyouji</servlet-name>
    <url-pattern>/s_codehyouji</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>C_CheckPwSystem</servlet-name>
    <servlet-class>kkweb.maintenance.C_CheckPwSystem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>C_CheckPwSystem</servlet-name>
    <url-pattern>/c_checkpwsystem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>T_Eturan</servlet-name>
    <servlet-class>kkweb.eturan.T_Eturan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>T_Eturan</servlet-name>
    <url-pattern>/t_eturan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>C_Holiday_tuika</servlet-name>
    <servlet-class>kkweb.maintenance.C_Holiday_tuika</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>C_Holiday_tuika</servlet-name>
    <url-pattern>/c_holiday_tuika</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>C_Holiday_kousin</servlet-name>
    <servlet-class>kkweb.maintenance.C_Holiday_kousin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>C_Holiday_kousin</servlet-name>
    <url-pattern>/c_holiday_kousin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>C_Group_tuika</servlet-name>
    <servlet-class>kkweb.maintenance.C_Group_tuika</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>C_Group_tuika</servlet-name>
    <url-pattern>/c_group_tuika</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>C_Group_kousin</servlet-name>
    <servlet-class>kkweb.maintenance.C_Group_kousin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>C_Group_kousin</servlet-name>
    <url-pattern>/c_group_kousin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>C_Shain_Jyouhou</servlet-name>
    <servlet-class>kkweb.maintenance.C_Shain_Jyouhou</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>C_Shain_Jyouhou</servlet-name>
    <url-pattern>/c_shain_jyouhou</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>C_Shain_tuika</servlet-name>
    <servlet-class>kkweb.maintenance.C_Shain_tuika</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>C_Shain_tuika</servlet-name>
    <url-pattern>/c_shain_tuika</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>C_Shain_update</servlet-name>
    <servlet-class>kkweb.maintenance.C_Shain_update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>C_Shain_update</servlet-name>
    <url-pattern>/c_shain_update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>C_Shain_delete</servlet-name>
    <servlet-class>kkweb.maintenance.C_Shain_delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>C_Shain_delete</servlet-name>
    <url-pattern>/c_shain_delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>C_Project_kousin</servlet-name>
    <servlet-class>kkweb.maintenance.C_Project_kousin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>C_Project_kousin</servlet-name>
    <url-pattern>/c_project_kousin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>C_Project_tuika</servlet-name>
    <servlet-class>kkweb.maintenance.C_Project_tuika</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>C_Project_tuika</servlet-name>
    <url-pattern>/c_project_tuika</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>C_Yomikaki</servlet-name>
    <servlet-class>kkweb.maintenance.C_Yomikaki</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>C_Yomikaki</servlet-name>
    <url-pattern>/c_yomikaki</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>E_Eturan</servlet-name>
    <servlet-class>kkweb.eturan.E_Eturan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>E_Eturan</servlet-name>
    <url-pattern>/e_eturan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>E_Sakusei</servlet-name>
    <servlet-class>kkweb.eturan.E_Sakusei</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>E_Sakusei</servlet-name>
    <url-pattern>/e_sakusei</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>T_Insatu</servlet-name>
    <servlet-class>kkweb.eturan.T_Insatu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>T_Insatu</servlet-name>
    <url-pattern>/t_insatu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>T_Sakusei</servlet-name>
    <servlet-class>kkweb.eturan.T_Sakusei</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>T_Sakusei</servlet-name>
    <url-pattern>/t_sakusei</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>P_Yomikomi</servlet-name>
    <servlet-class>kkweb.maintenance.P_Yomikomi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>P_Yomikomi</servlet-name>
    <url-pattern>/p_yomikomi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>S_Yomikomi</servlet-name>
    <servlet-class>kkweb.maintenance.S_Yomikomi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S_Yomikomi</servlet-name>
    <url-pattern>/s_yomikomi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>C_ChangePW</servlet-name>
    <servlet-class>kkweb.maintenance.C_ChangePW</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>C_ChangePW</servlet-name>
    <url-pattern>/c_changepw</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SalaryPage</servlet-name>
    <servlet-class>kkweb.pdf.SalaryPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalaryPage</servlet-name>
    <url-pattern>/SalaryPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PayselipMailSend</servlet-name>
    <servlet-class>kkweb.mail.PayselipMailSend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayselipMailSend</servlet-name>
    <url-pattern>/PayselipMailSend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayslipMailSender</display-name>
    <servlet-name>PayslipMailSender</servlet-name>
    <servlet-class>kkweb.mail.PayslipMailSender</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayslipMailSender</servlet-name>
    <url-pattern>/PayslipMailSender</url-pattern>
  </servlet-mapping>
</web-app>