@CHARSET "UTF-8";
body {
	background-color:#F0F8FF;
}
hr{
	width:400px;
	color:#008080;
	align: center;
}
font.msg{
	font-size: 20px;
}
font.error{
	font-size: 20px;
	color:#8B0000;
}
font.link{
	color:blue;
}
a.link{
	text-decoration:none;
}
div.location {
	width: 700px;
	height: 380px;
	text-align: center;
	position: relative;
	top: 20px;
	left: 0;
	right:0;
	padding-top:60px;
	border-top:3px solid #008080;
	border-right:3px solid #008080;
	border-left:3px solid #008080;
	border-bottom:3px solid #008080;
}
div.location2 {
	width: 700px;
	height: 200px;
	background-color: #F0F8FF;
	position: relative;
	top: 40px;
	left: 0px;
	right: 0px;
	padding-top:50px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;
	border-top:2px solid #008080;
	border-bottom:2px solid #008080;
}