body {
	width: 100%;
	background-attachment: fixed;
	background-image: url("/staff_room/images/help.png");
	background-repeat:no-repeat;
}


a#jump:link { color:#000; text-decoration:none }
a#jump:visited { color:#000; text-decoration:none }
a#jump:hover { color:#0000ff; text-decoration:none }
a#jump:active { color:#0000ff; text-decoration:none }



div#manual{
	overflow:hidden;
	top:20px;
	left:170px;
	width:500px;
	height:320px;
	float:left;
}
#con img{
	border:3px solid;
}

ul{
	margin-top:10px;
	margin-bottom:10px;
}
h2{
	margin-top:10px;
	margin-bottom:10px;
}