html {
		font-size: 87.5%
}
body {
	width: 100%;
	height: 100%;
	background-attachment: fixed;
	background-image: url("/staff_room/images/mail1.jpg");
}

div#con {
	max-width: 100%;
	max-height: 100%;
	margin-left: auto;
	margin-top: auto;

}

.uk-table {
	white-space: nowrap;
	margin-top:0;
}
tr:nth-of-type(2n) {
    background: none repeat scroll 0% 0% #FFF;
}

.uk-table td {
	padding: 4px;
	font-size: 1em;
	padding-left:8px;
	vertical-align:middle;
}
.uk-table th {
	padding: 6px 4px 6px 8px;
	background-image: url("/staff_room/images/blackwhite1.png");
}


div#button {
	width:120px;
	white-space: none;
	background-color:rgba(0,0,0,0.8);
	float:left;
}
#button-con{align:center;
    margin:5px;
	margin-left:auto;
	margin-right:auto;
	width:75%;
	padding-top:12px;
}

div#button-con>a {
	width:100%;
	margin-left:auto;
	margin-right:auto;
}

div#button ul {
	padding-left: 0px;
}

div#button ul>li {
	list-style-type: none;
	padding-top: 1px;
}

div#button ul>li>a {
	width: 46%;
	text-align: center;
	margin:auto;
}
#tyu{color:white;
padding: 3px;}

#out_Div {
  position: relative;
  width:900px;
  margin-left: auto;
  margin-right: auto;
}
#come{
  padding-top: 82px;
  width: 890px;
  height:78px;
  margin-left: auto;
  margin-right: auto;
}
#come>div{
	float:right;
}
#come>a{
	float:right;
}

#in_Div {
	overflow-y: scroll;
	line-height: 1.75em;
	height: 400px;
	max-width: 800px;
	background-color: whitesmoke;
	float:left;
    }
table >thead>tr{
  position: absolute;
  top:-34px;
  max-width: 800px;
}
.coL1 { width:22px; }/* colgroup‚Ì—ñ•w’è */

.coL2 { width:100px; }

.coL3 { width:140px; }

.coL4 { width:320px; }

.coL5 { width:50px; }

.coL6 { width:3px; }
