body {
	background-image: url("/staff_room/images/top4.jpg");
}

.main-container {
	padding-top: 50px;
}

.changelog-content {
	position: absolute;
	float: left;
	top: 40%;
	left: 5%;
	overflow: scroll;
	max-height: 340px;
	background-color: #eee;
}

.changelog-ul{
    list-style: none;
}
.changelog-title {
	position: absolute;
	float: left;
	top: 25%;
	left: 5%;
	padding: 0;
	background-color: #5bc0de;
	border-radius: 10px;
}

.changelog-title h1 {
	padding: 15px 20px 0px 20px;
	color: white;
}

.page-title {
	clear: both;
	position: absolute;
	bottom: 50px;
	right: 30px;
}

.page-title h1 {
	font-size: 100px;
	color: white;
}