body {
	background-image: url("/staff_room/images/top4.jpg");
}

.main-container {
	padding-top: 50px;
}

.uk-subnav{position: absolute;
	float: left;
	top: 180px;
	left: 70px;
	white-space: nowrap;
}

.uk-subnav >li>a{
	font-size: 1.2rem;
	font-weight: bold;
	color: white;
	display: block;
	text-decoration: none;
	list-style-type: none;
	background-color:#5BC0DE;
}

#subnav-pill-content{
	position:absolute;
	top:240px;
	left:70px;
}

#out_Div {
  position: relative; 
  padding-top: 26px; 
  width: 540px;
}
 
#in_Div {
	overflow-y: scroll;
	line-height: 1.75em;
	height: 260px;
	background-color: whitesmoke;
}

.changelog-content >thead>tr{
  position: absolute;
  top: 0px; 
  left: 0px;
}

.changelog-content >thead >tr >th{
	background-image: url("/staff_room/images/blackwhite1.png");
	padding-left: 10px;
	color: #FFFFFF;
}

tbody >tr >td {
overflow: hidden;
max-width: 280px;
white-space: nowrap;
text-overflow: ellipsis;
}

.changelog {
	width: 660px;
    height: 520px;
}
.changelog-ul{
    list-style: none;
}

.changelog-ul >td{
	white-space: nowrap;
    padding-left:4px;
    padding-right:4px;
}

.changelog-title {
	position: absolute;
	float: left;
	align: left;
	left:70px;
	top: 100px;
	padding: 0;
	background-color: #5bc0de;
	border-radius: 10px;
}

.changelog-title h1 {
	padding: 15px 20px 0 20px;
	color: white;
}

.page-title {
	clear: both;
	position: absolute;
	bottom: 50px;
	right: 30px;
}

.page-title h1 {
	font-size: 100px;
	color: white;
}

#version{
position:fixed;
color:black;
top:30px;
left:1250px;	
}

.coL1 { width:30px; }
.coL2 { width:70px; }
.coL3 { width:280px; }
.coL4 { width:120px; }

pre{
	background:#e7ebff;
	padding:8px;
}

.uk-modal-dialog{
	 box-shadow: 0 0 25px 5px #999;
}